<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="CommonContext-Dao.xml"/>

	<!-- basisController -->

	<bean id="basisController" class="com.pyramix.web.common.GFCBaseController" abstract="true" scope="prototype">
	
	</bean>
	
	<!-- main -->
	
	<bean id="main02WindowControl" class="com.pyramix.web.main.Main02WindowControl" scope="prototype" parent="basisController">
	
	</bean>

	<!-- disbursement -->

	<bean id="disbursementListInfoControl" class="com.pyramix.web.disbursement.DisbursementListInfoControl" scope="prototype" parent="basisController">
		<property name="settingsDao" ref="settingsDao"></property>
		<property name="disbursementDao" ref="disbursementDao"></property>
		<property name="disbursementSerialNumberDao" ref="disbursementSerialNumberDao"></property>
	</bean>

	<bean id="disbursementPrintControl" class="com.pyramix.web.disbursement.print.DisbursementPrintControl" scope="prototype" parent="basisController">
	
	</bean>

	<!-- user -->

	<bean id="userListInfoControl" class="com.pyramix.web.user.UserListInfoControl" scope="prototype" parent="basisController">
		<property name="userDao" ref="userDao"></property>
	</bean>

</beans>